h1{
    font-family: NunitoBold;
    font-size:2.5rem;
}

h3{
    font-family: NunitoItalic;
    font-size: 1.5rem;
}

p,a,span, li,div{
    font-family: Nunito;
    font-size: 1.3rem;
}

form,text{
    font-family: Nunito;
}

a:hover{
    color: #DA7B93;
}

input[type='submit']{
    float: right;
}

body{
    overflow-x: auto;
}      

section{
    /* width: 70%; */
    padding-bottom: 10px;
}

@font-face{
    font-family: Nunito;
    src: url(/Nunito/Nunito-Regular.ttf);
}

@font-face{
    font-family: NunitoBold;
    src: url(/Nunito/Nunito-Bold.ttf);
}

@font-face{
    font-family: NunitoItalic;
    src: url(/Nunito/Nunito-Italic.ttf);

}