h1{
    color: #FFCB9A;
    font-family: NunitoBold;
}

h3{
    font-family: NunitoItalic;
    color: #D9B08C;
}

p,a,form,text,input,span, li{
    color:#D1E8E2;
    font-family: Nunito;
}

input[type='submit']{
    float: right;
}

body{
    background:#2F4454;
    overflow-x: auto;
}      

section{
    width: 55%;
    padding-bottom: 10px;
    border-bottom: solid 2px #D9B08C;
}

@font-face{
    font-family: Nunito;
    src: url(/Nunito/Nunito-Regular.ttf);
}

@font-face{
    font-family: NunitoBold;
    src: url(/Nunito/Nunito-Bold.ttf);
}

@font-face{
    font-family: NunitoItalic;
    src: url(/Nunito/Nunito-Italic.ttf);

}