.scalePoint{
    r:3;
}

#timeFrame span{
    text-decoration:underline;
    color: #D1E8E2;
    cursor:pointer;
}

#timeframe span:hover{
    color: #DA7B93;
}

.row .border{
    fill:none;
    stroke:black;
}

#zoomBox .selection{
stroke:#EAE7DC;
}